<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>En Desarrollo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="in-progress-container">
        <h1>🛠️ En Construccion</h1>
        <p>Estamos trabajando arduamente en esta funcionalidad.</p>
        <p>¡Pronto estará disponible!</p>

        <a href="{{ url_for('login') }}" class="btn-primary-large">
            Volver a Iniciar Sesión
        </a>
    </div>
</body>
</html>
